.passwordForm{
    margin: 0 auto;
}
.passwordForm .password-header{
    text-align: center;
    padding-top: 40px;
}
.passwordForm .password-header img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.passwordForm .password-header > * {
    display: inline-block;
    text-align: center;
}

.passwordForm .password-row{
    margin-top: 30px;
}
.passwordForm .password-row button{
    margin: 40px auto;
    display: block;
}