.Sidebar {
    margin-top: 0;
    min-height: 100vmin;
    height: auto;
    width: 175px;
    text-align: center;
    background-color: #2c384e;
}

.Sidebar img {
    width: 100%;
    height: auto;
}

.Sidebar a {
    display: block;
    padding-top: 10px;
}